
<p>
menampilkan array dari controller ke view :<br/>
-From Array :
<ul>
	<% @zome.each do |zomes| %>
	<li><%= zomes %></li>
	<% end %>
</ul>
<br/>

-From DB postgresql :<br/>
<table>
	<tr>
		<td>id</td>
		<td>chara</td>
		<td>rate</td>
		<td>description</td>
	</tr>
		<% @magis.each do |magi| %>
	<tr>
		<td><%= magi.id %></td>
		<td><%= magi.chara %></td>
		<td><%= magi.rate %></td>
		<td><%= magi.description %></td>
	</tr>
		<% end %>
</table>


</p>