
<h1>Index</h1>
<p>
- <a href="http://localhost:3000/helloworld">Hello world</a></br>
- <a href="http://localhost:3000/passingdata">Passing data</a></br>
- <a href="http://localhost:3000/params">Parameter URL</a> : 
<a href="http://localhost:3000/params/1">[1]</a>, 
<a href="http://localhost:3000/params/2">[2]</a>
<br/>
- <a href="" id="coba">js alert rails</a>

</p>
</br>
<p>
<h2>some information:</h2>
<%= render 'partial' %>
</p>